   body {
     background-color: lightgray;
     }
   h1 {
     background-color: pink;
     color: white;
     border-style: dotted;
     border-width: 5px;
     text-align: center
     }
   p {
      text-indent: 25px;
      }
   table {
      border-style: solid;
      border-width: 5px;
      border-color: #833456;
      background-color: #d9d9d9;
      }
    th {
      border: 5px solid #095484;
      }
    td {
      border: 5px solid #1c87c9;
      } 
    #navbar {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    #navbar li {
      display: inline;
      width: 60px;
      background-color: #dddddd;
      }
